body {
    background-color: #ffffff;
}


/*a:link {
    background-color: white;
    color: black;
    border: 2px solid rgb(133, 87, 60);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}*/