<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Author's Picks Page</title>
    <meta name="description" content="Author's Picks Page">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    {% extends "base.html" %} {% block content %}

    <h1>Author's Picks</h1>
    <p>These are recommendations by our featured author!</p>
    <h2>February Feature: _____</h2>
    <p>Books recommended by author should show here</p>
    {% endblock %}
</body>

</html>