<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Home Page</title>
    <meta name="description" content="Home Page">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->

</head>


<body>
    {% extends "base.html" %}
    <h1>Books</h1>
    {% block content %}
    <div>
        <p>FemmeHacks 2021 :)!</p>
        <div>
            <h1>A website dedicated to connecting readers to Black authors</h>
        </div>
        <div class="container">
            <form class="bookFinder" method="POST" action="/submitted">
                <select class="bookForm" id="genreDropdownSelector" type="text" name="genreDropdown" placeholder="Genre" style="color:rgb(102, 59, 34);">
            <option disabled selected>Genre</option>
            <option id="Action/Adventure" value="Action and Adventure">Action/Adventure</option>
            <option id="Classic" value="Classic">Classic</option>
        </select>
                <select class="bookForm" id="lengthDropdownSelector" type="text" name="lengthDropdown" placeholder="Length" style="color:rgb(102, 59, 34); ">
            <option disabled selected>Length</option>
            <option id="Short" value="Short">Short (< 200 pages)</option>
            <option id="Medium" value="Medium">Medium (200-400 pages)</option>
            <option id="Long" value="Long">Long (> 400 pages)</option>
        </select>

                <p><input type="submit" value="Find Books!"></p>
            </form>
        </div>
    </div>
    {% endblock %}

</body>

</html>